@font-face {
  font-family: 'iconfont';  /* project id 2325426 */
  src: url('//at.alicdn.com/t/font_2325426_mm94s9gprg.eot');
  src: url('//at.alicdn.com/t/font_2325426_mm94s9gprg.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2325426_mm94s9gprg.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2325426_mm94s9gprg.woff') format('woff'),
  url('//at.alicdn.com/t/font_2325426_mm94s9gprg.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2325426_mm94s9gprg.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e617";
}

.icon-aixin:before {
  content: "\e640";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-shoucang:before {
  content: "\e612";
}
