@font-face {
  font-family: 'iconfont';  /* project id 2398876 */
  src: url('//at.alicdn.com/t/font_2398876_855tj2xhpro.eot');
  src: url('//at.alicdn.com/t/font_2398876_855tj2xhpro.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2398876_855tj2xhpro.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2398876_855tj2xhpro.woff') format('woff'),
  url('//at.alicdn.com/t/font_2398876_855tj2xhpro.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2398876_855tj2xhpro.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-023-sucellus:before {
  content: "\e6a4";
}

.icon-025-treeoflife:before {
  content: "\e6a5";
}

.icon-028-morrigan:before {
  content: "\e6a6";
}

.icon-021-bag:before {
  content: "\e6a7";
}
