.page-section-spacing {
  // margin-top: 40rpx;
  background-color: #fff;
  padding: 10px 0;
}
.scroll-view-h{
  white-space: nowrap;
}
.scroll-view-item{
  height: 300rpx;
}
.scroll-view-item-h{
  display: inline-block;
  width: 80px;
  // height: 300rpx;
}

.warehouseImg image {
  height: 96rpx;
  width: 96rpx;
}

.warehouseName {
  font-size: 24rpx;
  color: #333333;
}

.scroll-view-item_H {
  width: 160rpx;
}
.warehouseImg,.warehouseName{
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-view_H .scroll-view-item_H:first-child{
  margin-left: 30rpx;
}