.type-navbar-3 {
  white-space: nowrap;
  height: 44px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px #dcdcdc solid;
  .type-box {
    width: 25%;
    box-sizing: content-box;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    color: #205abc;
  }
  
  .type-navbar-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .type-item-on{
    background-color: #205abc;
    color: white;
  }
}